
extends layout

block content
	h1= title

	a(href='www.google.es') www


	ul
		each names, i in names_list
			li= names

	ul
		each list_authors, i in author_list
			//li=list_authors.first_name
			li a(href=www.google.es) www