extends layout

block content

  h1 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
    if genre_books !== null
      each book in genre_books
        if book.title == null
            - break
        dt 
          a(href='/catalog/book/'+book.id) #{book.title}
        dd #{book.summary}
        if book.title == book.title
          - break
    else
      p This genre has no books.
      
  hr
  p
    a(href='/catalog/genre/'+genre.id+'/delete') Delete genre 
  p
    a(href='/catalog/genre/'+genre.id+'/update') Update genre
    